



    <div class="details">
        <EditForm Model="@Model" OnValidSubmit="@Model.SubmitAsync">

            <DataAnnotationsValidator />

            <div class="form-group">
                <label for="addressLine1">Address Line 1</label>
                <InputText disabled="@(!Model.IsEdit)" @bind-Value="@Model.AddressLine1" class="form-control" id="addressLine1" />
            </div>
            <div class="form-group">
                <label for="addressLine2">Address Line 2</label>

                <InputText disabled="@(!Model.IsEdit)" @bind-Value="@Model.AddressLine2" class="form-control" id="addressLine2" />
            </div>
            <div class="form-group">
                <label for="postCode">Postcode</label>
                <InputText disabled="@(!Model.IsEdit)" @bind-Value="@Model.PostCode" class="form-control" id="postCode" />
            </div>
            @if (Model.IsEdit)
            {
                <input type="submit" class="btn btn-primary" value="Update" />
            }
        </EditForm>
        @*@if (Model.IsEdit)
        {
            <button class="btn btn-danger" @onclick="((e) => Model.IsEdit = false)">Cancel</button>
        }*@

        @if (!Model.IsEdit)
        {
            <button @onclick="((e) => Model.IsEdit = true)" class="btn edit-btn"><i class="fas fa-edit"></i></button>
        }

    </div>





@code {    

    [Parameter]
    public AddressFormViewModel Model { get; set; }
}
