<div class="details">
    <EditForm Model="@Model" OnValidSubmit="@Model.SubmitAsync">

        <DataAnnotationsValidator />

        <div class="row">
            <div class="form-group col">
                <label for="first">First Name</label>
                <InputText disabled="@(!IsEdit)" @bind-Value="@Model.FirstName" class="form-control" id="first" />
            </div>
            <div class="form-group col">
                <label for="second">Second Name</label>
                <InputText disabled="@(!IsEdit)" @bind-Value="@Model.SecondName" class="form-control" id="second" />
            </div>
        </div>
        <div class="form-group">
            <label for="addressLine2">Address Line 1</label>

            <InputText disabled="@(!IsEdit)" @bind-Value="@Model.Email" class="form-control" id="addressLine2" />
        </div>
        <div class="form-group">
            <label for="contact">Contact Number</label>
            <InputText disabled="@(!IsEdit)" @bind-Value="@Model.ContactNumber" class="form-control" id="contact" />
        </div>
        
        @if (IsEdit)
        {
            <input type="submit" class="btn btn-primary" value="Update" />
            <button class="btn btn-danger" @onclick="((e) => IsEdit = false)">Cancel</button>
        }
    </EditForm>
    @if (!IsEdit)
    {
<button @onclick="((e) => IsEdit = true)" class="btn edit-btn"><i class="fas fa-edit"></i></button>
    }

</div>





@code {
    bool IsEdit { get; set; } = false;

    [Parameter]
    public ContactFormViewModel Model { get; set; }
}