
@inject IModalService ModalService
@inject NavigationManager NavigationManager

<style>
    /* Header Styles */ 

    .business-header {
        
    }

    .header-grid {
        display: grid;
        grid-template-columns: 50% 50%;
        grid-gap: 1rem;
        margin: auto;
    }

    .business-core-info {
        text-align: center;
        margin-top: 1rem;
    }

    .contact-info {
        text-align: left;
    }    

    .business-address {
        text-align: right;
    }


    @@media screen and (min-width: 1200px) {
        .header-grid {
            width: 60%;
        }
    }

    @@media screen and (max-width: 750px) {
        .header-grid {
            width: 60%;
            grid-template-columns: 100%;
        }

        .business-address {
            text-align: center;
            word-wrap: break-word;
        }

        .contact-info {
            text-align: center;
            word-wrap: break-word;
        }        
    }

    .business-action-bar {
        text-align: left;
        margin-top: 1rem;
    }
</style>


@if (Business != null)
{
<div class="business-info-wrapper">

    <div class="business-action-bar card">
        <ul class="nav nav-pills nav-fill">
            <li class="nav-item">
                <a @onclick="@NavigateCreateSite" class="nav-link pointer edit-btn"><i class="fas fa-building"></i> Create Site</a>
            </li>
            <li class="nav-item">
                <a @onclick="@ShowAddAdmin" class="nav-link pointer edit-btn "><i class="fas fa-plus"></i> Create Business Admin</a>
            </li>
            <li class="nav-item">
                <a @onclick="@ShowAccounts" class="nav-link pointer edit-btn"><i class="fas fa-list"></i> Shows Accounts</a>
            </li>

        </ul>
    </div>


    <div class="business-core-info">
        <h1>@Business.Name</h1>
        <h4>@Business.TradingName</h4>
        <a href="@Business.WebAddress">@Business.WebAddress</a>
        <br />
        <button @onclick="@ShowEditDetails" class="btn edit-btn"><i class="fas fa-edit"></i></button>
    </div>

    <hr />
    <div class="header-grid">
        <div class="contact-info">
            <h2>@(Business.Contact.FirstName + " " + Business.Contact.SecondName)</h2>
            <h4>@Business.Contact.ContactNumber</h4>
            <h6>@Business.Contact.Email</h6>
            <button @onclick="@ShowEditContact" class="btn edit-btn"><i class="fas fa-edit"></i></button>
        </div>
        <div class="business-address">
            <h2>@Business.Office.AddressLine1</h2>
            <h4>@Business.Office.AddressLine2</h4>
            <h6>@Business.Office.PostCode</h6>
            <button @onclick="@ShowEditAddress" class="btn edit-btn"><i class="fas fa-edit"></i></button>
        </div>
    </div>
</div>
}
else
{
    <div>Loading ....</div>
}




@code {

    [Parameter]
    public Business Business { get; set; }

    void ShowAddAdmin()
    {
        var parameters = new ModalParameters();
        parameters.Add("Id", Business.Id);
        ModalService.Show<CreateBusinessAdmin>($"Create Business Admin ({Business.Name})", parameters);
    }

    void NavigateCreateSite()
    {
        NavigationManager.NavigateTo("/create-site/" + Business.Id);
    }

    void ShowEditContact()
    {
        var parameters = new ModalParameters();
        parameters.Add("Id", Business.Id);
        parameters.Add("Contact", Business.Contact);
        ModalService.Show<UpdateBusinessContact>("Update Business Contact", parameters);
    }

    void ShowEditAddress()
    {
        var parameters = new ModalParameters();
        parameters.Add("Id", Business.Id);
        parameters.Add("Office", Business.Office);
        ModalService.Show<UpdateBusinessOffice>("Update Business Head Office", parameters);
    }

    void ShowEditDetails()
    {
        var parameters = new ModalParameters();
        parameters.Add("Business", Business);
        ModalService.Show<UpdateBusinessDetails>("Update Business Details", parameters);
    }

    void ShowAccounts()
    {
        var parameters = new ModalParameters();
        parameters.Add("Id", Business.Id);
        ModalService.Show<AdminAccounts>($"Admin Accounts ({Business.Name})", parameters);
    }
}
