@page "/create-admin"
@inject CreateAdminViewModel Model

<div class="padder">
    <Restricted IsPageRestriction="true">
            <Yes>
                <div class="card">
                    <div class="card-header card-header-primary">
                        <h2>Create System Admin</h2>
                    </div>
                    <div class="card-body">
                        <EditForm Model="@Model" OnValidSubmit="@Model.Submit">

                            <DataAnnotationsValidator />

                            <div class="form-group">
                                <label for="email">Email:</label>
                                <InputText class="form-control" id="email" @bind-Value="@Model.Email" />
                                <ValidationMessage For="@(() => Model.Email)" />
                            </div>

                            @if (Model.Error != string.Empty)
                            {
                                <div class="alert alert-danger" role="alert">
                                    @Model.Error
                                </div>
                            }

                            <input type="submit" class="btn btn-primary" value="Create Admin" />

                        </EditForm>
                    </div>
                </div>

            </Yes>
        </Restricted>
    </div>



@code {

}