@page "/create-admin"
@inject CreateAdminViewModel Model
@inject ILoadingService LoadingService

<div class="padder">
    <Restricted IsPageRestriction="true">
            <Yes>
                <div class="card">
                    <div class="card-header card-header-primary">
                        <h2>Create System Admin</h2>
                    </div>
                    <div class="card-body">
                        <Blazor.LoadingIndicator.Indicator Context="create-admin">
                            <EditForm Model="@Model" OnValidSubmit="@Submit">

                                <DataAnnotationsValidator />

                                <div class="form-group">
                                    <label for="email">Email:</label>
                                    <InputText class="form-control" id="email" @bind-Value="@Model.Email" />
                                    <ValidationMessage For="@(() => Model.Email)" />
                                </div>

                                @if (Model.Error != string.Empty)
                                {
                                    <div class="alert alert-danger" role="alert">
                                        @Model.Error
                                    </div>
                                }

                                <input type="submit" class="btn btn-primary" value="Create Admin" />

                            </EditForm>
                        </Blazor.LoadingIndicator.Indicator>
                    </div>
                </div>

            </Yes>
        </Restricted>
    </div>



@code {
    async Task Submit()
    => await LoadingService.StartTaskAsync(async (task) => { await Model.Submit(); }, "create-admin");
    
}