@page "/system-admin-login"
@inject LoginViewModel Model
@inject IUserContext User
@inject ILoadingService LoadingService
@using Account.ViewModels

<style>
    #cover {  
  background-size: cover;
  height: 100%;
  text-align: center;
  display: flex;
  align-items: center;
}

#cover-caption {
    vertical-align: central;
    width: 100%;
}
</style>

    <section id="cover">
        <div id="cover-caption">
            <div id="container" class="container">                

                    @if (!User.IsLoggedIn)
                    {
                <div class="row">
                    <div class="col-sm-4"></div>
                    <div class="col-sm-4">
                        <div class="card login-card">
                            <div class="card-header card-header-primary">
                                <div class="card-text">
                                    <h4 class="card-title">Login</h4>
                                </div>
                            </div>
                            <Blazor.LoadingIndicator.Indicator Context="login">
                                <div class="card-body">

                                    <EditForm class="login-form" Model="@Model" OnValidSubmit="@Submit">
                                        <DataAnnotationsValidator />

                                        <div class="form-group">
                                            <label for="email">Email:</label>
                                            <InputText class="form-control" id="email" @bind-Value="@Model.Email" />
                                            <ValidationMessage For="@(() => Model.Email)" />
                                        </div>

                                        <div class="form-group">
                                            <label for="password">Password:</label>
                                            <InputText type="password" class="form-control" id="password" @bind-Value="@Model.Password" />
                                            <ValidationMessage For="@(() => Model.Password)" />
                                        </div>

                                        @if (Model.Error != string.Empty)
                                        {
                                            <div class="alert alert-danger" role="alert">
                                                @Model.Error
                                            </div>
                                        }

                                        <input type="submit" class="btn btn-primary" value="Login" />

                                    </EditForm>
                                </div>
                            </Blazor.LoadingIndicator.Indicator>
                        </div>
                    </div>
                    <div class="col-sm-4"></div>
                </div>
                    }
                    else
                    {
                        <h2>Hello, @User.Email your are already logged in :)</h2>
                    }
                </div>
            </div>        
    </section>

@code {
    private async Task Submit()
    {
        await LoadingService.StartTaskAsync(async (task) =>
        {            
            await Model.Submit();            
        }, "login", "Logging you in...");
    }
}